@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
}

.hero {

    padding-top: 50px;
    background-color: #E8F1F5;
    padding-bottom: 50px;
}
.hero a {
    text-decoration: none;
    color: black;
    text-size : larger;
}
.sosmed-item img {
    height: 50px;
    width: auto;
    margin-right: 20px;
}
.profile-pic img {
    border-radius: 50%;
    margin-bottom: 2rem;
}
nav{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
}
footer {
    display: flex;
    padding-top: 25px;
    padding-left: 200px;
    padding-right: 200px;
    flex: 33%;
    background-color: #E8F1F5;
    padding-bottom: 25px;
}


.about-item , .skill-item, .project-item {
    padding-left: 200px;
    padding-top: 20px;
    padding-right: 200px;
}
.item-list{
    color: #004A7C;
}
.hero p {
    font-size: 20px;
}
.skill-item img {
    font-size: medium;
    height: 50px;
}
.project-item a {
    display: flex;
    text-decoration: none;
    color: #004A7C;
    
}
.project-item ol {
    font-size: larger;
}


